* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.item {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 20px;
    opacity: 0;
    transition: .5;
    animation: animate 2s linear infinite;
    animation-delay: calc(.5s * var(--i));    
}
@keyframes animate {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}